.containerSearchBlock{
    background-color: #2575ff;
   
    height: 12vh;
    padding: 0 30px;
    width: 100%;
}

.containerSearchBlock form{
    height: 100%;
    width: 100%;
   
}

.containerSearchBlock .form-group{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.containerSearchBlock .form-group div{
    display: flex;
    justify-content: space-evenly;
   width: 80%;
   
}

.containerSearchBlock .form-group input{
    background-color: #EBEDEC;
    border: none;
    border-bottom: 1px solid #002462;
    border-radius: 0;
    outline:none;
   
    box-shadow: none;
    width: 50%;
}

.containerSearchBlock .form-group button{
    background-color: #002462;
    color:white;
    transition: all 1s;
    width: 25%;
    
}
.containerSearchBlock .form-group button:hover{
  transform: scale(1.1);
    opacity: 0.7;
}
