.containerSearchBlock{
    height: 20vh;
    padding: 10px 30px;
    text-align: center;
    width: 100%;
    
}

.containerSearchBlock h3, .containerSearchBlock h4{
    color:white;
    z-index: 100;
}

.containerSearchBlock form{
    height: 100%;
    width: 100%;
  
}

.containerSearchBlock .form-group{
    display: flex;
    align-items: center;
    flex-direction: column;

    justify-content: center;
    width: 100%;
}

.containerSearchBlock .form-group h3{
    z-index: 100;
}

.containerSearchBlock .form-group div{
    display: flex;
    justify-content: space-evenly;
   width: 80%;
   z-index: 100;
}

.containerSearchBlock .form-group input{
    background-color: #EBEDEC;
    border: none;
    border-bottom: 1px solid #002462;
    border-radius: 0;
    outline:none;
   
    box-shadow: none;
    width: 50%;
}

.containerSearchBlock .form-group button{
    background-color: #002462;
    
    transition: all 1s;
    width: 14vw;
}

.containerSearchBlock .form-group button a{
    color:white;
    text-decoration: none;
}

.containerSearchBlock .form-group button:hover{
  transform: scale(1.1);
    opacity: 0.7;
}
