#containerHero{
    background-color: black;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 99px - 58px);
    padding: 40px;
    width: 100%;
    z-index: 100;
}

.containerImageInfo{
    display: flex;
   
}

.containerImageHero img{
    border-radius: 20px;
    width: 30vw;
}

#containerInfo{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

#containerHero h2{
    color:white;
    text-transform: uppercase;
}

#containerHero h3{
    color:white;
    opacity: 0.8;
}

#containerInfo p{
    font-size: 20px;
    color: white;
    opacity: 0.6;
}

.containerPowerstats p{
    color: white;
    opacity: 0.6;
}
.containerPowerstats p::first-letter{
    text-transform: capitalize;
}

.titlePowerstat{
    margin-bottom: 2px;
    text-transform: capitalize;
}
