.containerCards{ 
    display: grid;
    grid-gap: 30px 50px;
    grid-template-columns: repeat(auto-fill, minmax(280px,1fr));
    grid-template-rows: repeat(auto-fill, 1fr);
    padding: 20px;
    z-index: 100;
}

.card{
    border-radius: 10px;
    transition: all 0.8s;
}

.card:hover{
    transform: scale(1.02)
}

.card:hover img{
    
    transform: scale(1.3) rotate(15deg);
}

.containerImage{
    overflow: hidden;
}

.containerCards img{
    border-radius: 10px;
    transition: all 0.8s;
    
}

