.containerFormLogin{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 99px - 58px);
    justify-content: center;
}

.containerFormLogin form{
    display: flex;
    flex-direction: column;
    height:41%;
    justify-content: flex-end;
    max-height: 320px;
    min-height: 270px;
    width: 32%;
    max-width: 800px;
    min-width: 370px;
    z-index: 100;
    background-color: rgba(0, 36, 98,0.8);
}

.containerFormLogin form h2{
    color: white;
    text-align: center;
}

.containerFormLogin .form-row{
   
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 75%;
    justify-content: space-evenly;
   width: 100%;
}

.containerFormLogin .form-label{
    width: 100%;
    
}

.loginButton{
    background-color: #B31C31;
    border: 1px solid #7c1321;
    
    transition: all 0.7s;
}

.loginButton:hover{
    background-color: #c02d41;
    transform: scale(1.1);
}

.loginButton a{
    color: white;
}

.containerFormLogin .form-group input, .containerFormLogin .form-group input:focus, .containerFormLogin .form-group input:active{
    background-color: inherit;
    border: none;
    border-bottom: 2px solid white;
    border-radius: 0;
    color: white;
    outline:none;
    box-shadow: none;
   
}
.containerFormLogin .form-group input::placeholder, .errors{
    color: white;
}

.errors{
    font-size: 13px;
    padding-left: 12px;
}

@media all and (max-width: 414px) {
    .containerFormLogin form{
        height:30%;
        min-width: 300px;
    }
}
